* {
  font-family: montserrat;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.containercabezal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color: #815103;
  color: #181717;
  height: 100%;
}
.containercabezal .logohead img {
  height: auto;
  max-height: 80px;
}
.containercabezal .mercader h1 {
  margin: 0;
}

.navbar {
  background-color: #815103;
}
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: #181717 !important;
}

/* MAIN */
footer .footbox {
  background-color: #815103;
  color: #181717;
  text-align: center;
  padding: 10px;
}

/* PAGINA DE RECETAS */
.grid-recetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  padding-bottom: 20px;
}
.grid-recetas .grid-item {
  border: 1px black solid;
  text-align: center;
  background-color: rgb(250, 140, 100);
  border-radius: 15px;
}
.grid-recetas .grid-item img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  display: block;
}
.grid-recetas .grid-item:hover {
  background-color: chocolate;
}

@media only screen and (max-width: 767px) {
  .containercabezal {
    flex-direction: column;
    align-items: flex-start;
  }
  .containercabezal .logohead img {
    margin-bottom: 10px;
  }
  .navbar {
    padding: 10px;
  }
  .navbar-toggler-icon {
    background-color: #181717;
  }
}
/* PAGINA DE RECETAS CATALOGO */
.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.image-column img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.description-column h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.description-column p {
  margin-bottom: 15px;
}
.description-column button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.description-column button:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}
/* FIN DE PAGINA DE RECETAS CATALOG */
A:link {
  text-decoration: none;
}

A:visited {
  color: rgb(255, 255, 255);
  font-family: arial;
  text-decoration: none;
}

A:hover {
  color: rgb(253, 253, 253);
  font-family: arial;
  text-decoration: none;
}

/* PAGINA DE ESPECIAS */
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product {
  box-sizing: border-box;
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 5px solid #d4770c;
  border-radius: 20px;
  text-align: center;
}
.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product h3 {
  margin-top: 0;
}
.product .price {
  font-weight: bold;
  color: #007BFF;
}

/* FIN DE PAGINA RECETAS */
.contactitle {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

.gridct {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .gridct {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.gridct .gridmail,
.gridct .gridofi {
  padding: 20px;
}
.gridct .gridmail h3,
.gridct .gridofi h3 {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */